<h1>Welcome</h1>
<p>Welcome to DevBlog 1.0.0</p>
<p>Post stories of the best and worst moment on your journey to becoming a world class developer</p>
{{#if user}} {{else}}
<a class="btn red darken-1" href="/auth/google">
    <i class="fa fa-google left"></i> Login With Google</a>
{{/if}}